* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: gold;
}

.timerContainer {
    text-align: center;
}

.timerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

.hoursMinsSecs {
    display: flex;
    gap: 1em;
}

input {
    height: 3em;
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    width: 3em;
    font-size: 1.8em; /* Ensure the font size matches placeholder */
    color: rgb(200, 200, 200);
    text-align: center; /* Center text input */
    padding-top: 5px; /* Add padding for vertical alignment */
    padding-bottom: 5px;
}

input::placeholder {
    text-align: center;
    font-size: 1.8em;
    color: rgb(200, 200, 200);
}

.timerInput {
    display: flex;
    flex-direction: column;
}

.timerDisplayContainer {
    text-align: center;
    margin-top: 2em;
    display: none;
}

button {
    font-family: 'inter';
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    color: gold;
}

.timerDisplay {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}

.displayTitle {
    font-size: 2em;
}

.display {
    font-size: 4em;
}